.input-error{
    border-color:rgb(226, 8, 8) !important;
    border-width: medium;
}

.input-success{
    border-color: rgb(24, 253, 24) !important;
    border-width: medium;
}

body{
    background-image: url('img/gif.gif');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}